In [52]:
import pandas as pd
import pandas_ta
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [29]:
df= pd.read_csv('CCD_Data.csv')

In [30]:
print(df)

            Date       Close
0     01-01-2016  288.049988
1     04-01-2016  280.450012
2     05-01-2016  282.450012
3     06-01-2016  274.299988
4     07-01-2016  269.850006
...          ...         ...
1229  24-12-2020   26.350000
1230  28-12-2020   26.350000
1231  29-12-2020   26.350000
1232  30-12-2020   26.350000
1233  31-12-2020   26.350000

[1234 rows x 2 columns]

In [31]:
print(df.describe())

             Close
count  1234.000000
mean    191.692140
std     104.604097
min       0.000000
25%      50.362499
50%     236.224998
75%     264.100006
max     359.549988

In [32]:
# Reindex data using a DatetimeIndex
df.set_index(pd.DatetimeIndex(df['Date']), inplace=True)
df = df[['Close']]
print(df)

                 Close
Date
2016-01-01  288.049988
2016-04-01  280.450012
2016-05-01  282.450012
2016-06-01  274.299988
2016-07-01  269.850006
...                ...
2020-12-24   26.350000
2020-12-28   26.350000
2020-12-29   26.350000
2020-12-30   26.350000
2020-12-31   26.350000

[1234 rows x 1 columns]

In [33]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1234 entries, 2016-01-01 to 2020-12-31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1234 non-null   float64
dtypes: float64(1)
memory usage: 19.3 KB
None

In [34]:

df.ta.ema(close='close', length=10, append=True)

Date
2016-01-01          NaN
2016-04-01          NaN
2016-05-01          NaN
2016-06-01          NaN
2016-07-01          NaN
                ...
2020-12-24    26.328750
2020-12-28    26.332613
2020-12-29    26.335775
2020-12-30    26.338361
2020-12-31    26.340477
Name: EMA_10, Length: 1234, dtype: float64

In [35]:
print(df)

                 Close     EMA_10
Date
2016-01-01  288.049988        NaN
2016-04-01  280.450012        NaN
2016-05-01  282.450012        NaN
2016-06-01  274.299988        NaN
2016-07-01  269.850006        NaN
...                ...        ...
2020-12-24   26.350000  26.328750
2020-12-28   26.350000  26.332613
2020-12-29   26.350000  26.335775
2020-12-30   26.350000  26.338361
2020-12-31   26.350000  26.340477

[1234 rows x 2 columns]

In [36]:
df = df.iloc[10:]

In [43]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['Close']], df[['EMA_10']], test_size=.2)

In [45]:
print(X_test.describe())
print(X_train.describe())

            Close
count  245.000000
mean   186.823470
std    104.412678
min     15.650000
25%     44.950001
50%    233.699997
75%    259.899994
max    345.200012
            Close
count  979.000000
mean   192.093514
std    104.893279
min      0.000000
25%     50.725001
50%    236.699997
75%    264.725006
max    359.549988

In [51]:

# Create Regression Model
model = LinearRegression()
# Train the model
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [53]:
# Printout relevant metrics
print("Model Coefficients:", model.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Coefficient of Determination:", r2_score(y_test, y_pred))

Model Coefficients: [[0.98880712]]
Mean Absolute Error: 4.3409245774938485
Coefficient of Determination: 0.9961259501308131

In [62]:
y_test

                EMA_10
Date
2019-07-05  262.309159
2016-03-30  226.622544
2020-12-17   26.292042
2020-06-07   17.837331
2019-03-27  289.921553
...                ...
2020-01-28   32.956307
2016-12-20  199.775387
2017-11-13  226.192288
2018-07-27  261.932902
2018-12-10  261.055800

[245 rows x 1 columns]